<header>
<h1>TinyApp Project</h1>
</header>
<body>
  <form method="POST" action="/login" style="padding-bottom:30px;">
    <input type="text" name="username" placeholder=Username>
    <button>Submit</button>
  </form>
</body>