<header>
  <h1>TinyApp</h1>
  <% if (user) { %>
  <h3>Hello, <%= user.email %></h3>
  <form method="POST" action="/logout">
    <button>Logout</button>
  </form>
  <% } else { %>
  <ul>
    <button><a href="/Login">Login</a></button>
    <button><a href="/Register">Register</a></button>
  </ul>
  <% } %>
</header>
