<!DOCTYPE HTML>
<html>
<head>
  <title>Login to TinyApp!</title>
</head>
  <body>
    <h2>Login to TinyApp!</h2>
      <form method="POST" action="/login">
          <input type="email" name="email" placeholder="eg: vancejoy@vancejoy.com" style="width: 300px">
          <br />
          <input type="password" name="password" placeholder="Enter a password" style="width: 300px" minLength="4">
          <br /><br />
          <input type="submit" value="Login" style="margin-left: 20px">
      </form>
  </body>
</html>