<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header><% include ./partials/_header.ejs %></header>
  <!--<p><%= longURL %></p>-->
  <form action="/urls/<%= shortURL %>" method="POST" >
     <h3>shortURL : <%= shortURL %></h3>
     <input id="longURL" type="text" name="longURL" value= "<%=longURL %>">
     <input type="submit" value="Update">
      <!--<button>Update</button>-->
  </form>

</body>
</html>